biblio/*
calculations/*
image-analysis/*
write-ups/*
**/*.mp4
videos/*

# For dAlembert_salleLagree
data/**
code/fromThomas/**
code/tests/**

# For PC-Alex
Articles/Granular_fracture.bib.sav
sujet_stage.pdf
Rapport\ final.pdf